.numButton {
    margin: 2px;
    padding: 10px 20px;
    min-width: 70px;
    max-width: 70px;
}

.zeroButton {
    margin: 2px;
    padding: 10px 107px;
}

.input {
    width: 250px;
}

.text {
    width: 240px;
    margin-left: 10px;
}

.combobox {
    min-width: 300px;
}