.header {
    background-image: url("header.jpg");
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
}

.numButton {
    margin: 2px;
    padding: 10px 20px;
    min-width: 70px;
    max-width: 70px;
}

.zeroButton {
    margin: 2px;
    padding: 10px 107px;
}

.input {
    width: 306px;
    margin-top: 5px;
}

.text {
    width: 240px;
    margin-left: 10px;
}

.select {
    padding: 10px 70px;
    margin: 15px;
}

.app {
    background-color: white;
    float: center;
    border: 1px solid black;
    position: center;
    margin-right: 21px;
    max-width: 360px;
    border-radius: 5px;
    height: 350px;
}

.outcome {
    margin: 0px;
}